/* CSS for the upload page*/

body {
    height: 100%;
    background-size: cover;
    image-rendering: optimizeQuality;
}

.container-upload {
    border: 3px solid rgb(70, 9, 9);
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    width: 60%;
    height: 70%;
    padding-bottom: 2em;
    box-shadow: 1.8em 1.8em 1em rgb(247, 214, 154);
    background-color: rgb(238, 191, 104);
    opacity: 0.7;
}

form {
    text-align: center;
    margin: 2em;
}

input {
    margin-bottom: 1.5em;
    margin-top: 0.5em;
}

#semester {
    margin-bottom: 1.5em;
    margin-top: 0.5em;
}

.thank {
    font-size: 80px;
    color: rgb(206, 32, 61);
    font-style: oblique;
}

.semester1 {
    color: rgb(48, 10, 10);
    font-size: 35px;
}

.coursename {
    color: rgb(48, 10, 10);
    font-size: 35px;
}

.choose {
    color: rgb(94, 2, 22);
    font-size: 20px;
}

.upload1 {
    background-color: rgb(192, 122, 137);
    border: 2px solid rgb(22, 6, 6);
}

.whole {
    background-color: rgb(243, 187, 82);
    align-self: center;
}

input[type=text] {
    border: 2px solid black;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
}

input[type=text]:focus {
    border-block-color: rgb(0, 9, 17);
    box-shadow: 0 0 8px 0 rgb(0, 4, 8);
}

input[type=file] {
    border: 2px solid black;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
}

input[type=file]:focus {
    border-block-color: rgb(0, 9, 17);
    box-shadow: 0 0 8px 0 rgb(0, 4, 8);
}

#semester {
    border: 2px solid black;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    border-block-color: rgb(0, 9, 17);
    box-shadow: 0 0 8px 0 rgb(0, 4, 8);
}
